.screenshot {
  padding-top:30px;
  height: 200px;
  width: 300px;
}

.tile {
	display: inline-block;
	width: 30%;
	margin-right: 3%;
	margin-top: 25px;
	text-align: center;
	border: 2px solid #E13A63;
	box-sizing: border-box;
}

.tile img	{
	display: block;
	margin: 0 auto;
}

@media screen and (max-width: 1070px) {
  .tile {
    width:375px;
    display: block;
    border: none;
  }
  .screenshot {
    width:375px;
    display: block;
    margin-right: 3%;
  }
}

@media screen and (max-width: 1190px) {
  .tile {
    border:none;
  }
}
